.App{
  background-color: black;
  height: inherit;
}

.background{
  background-image: url('./dashboard.svg');
  background-size:cover;
  height: 900px;
  width: 1440px;
}

.background.true {
  opacity: 0.6;
}

.background.false {
  opacity: 1;
}
